<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="La fábrica de chocolate Willy Wonka Home" />
  <meta name="description" content="TFG">
  <meta name="author" content="Darío Martinez">
  <meta name="generator" content="SublimeText and Bootstrap" />

  <title>Willy Wonka Home</title>

    <!-- Styles -->
    <link href="stylesheets/styles.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/FI-WARE/img/logos/ico/favicon.png">

</head>

  <body id="index">
    <div id="wrap">
  <div class="container">
   <div id='warped'>
   <center>
  <h1> Hello Willy Wonka!</h1>
  <h2> What you want to do?</h2>
  </center>
  </div>
    <a href="/admin-rooms"><button class="btn btn-lg btn-primary btn-block">Rooms Context Info</button></a>
    <br>
    <a href="/admin-map"><button class="btn btn-lg btn-primary btn-block">Rooms map</button></a>
    <br>
    <br>
    <a href="/logout"><button class="btn btn-lg btn-primary btn-block">Log out</button></a>
  </div>
  </div><!--/#wrap -->
  <footer class="footer">
  
  </footer>
  
    <!-- Le javascripts -->
  <script type="text/javascript" src="javascript/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="javascript/bootstrap/bootstrap.min.js"></script>
</body>
</html>