<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Welcome to the chocolate factory</title>
    <script src="http://localhost:1028/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
     <script>
    $(document).ready(function() {
        var socket = io();

        socket.on('updateCR', function (data) { 
          var x = Math.round(data.attributes[0].value * 100) / 100; 
          var y = Math.round(data.attributes[1].value * 100) / 100; 
          var z = Math.round(data.attributes[3].value * 100) / 100; 
          $("#name").html(data.id);
          $('#natt1').html(data.attributes[0].name);
          $('#natt2').html(data.attributes[1].name);
          $('#natt3').html(data.attributes[2].name);
          $('#natt4').html(data.attributes[3].name);
          $('#att1').html(x);
          $('#att2').html(y);
          $('#att3').html(data.attributes[2].value);
          $('#att4').html(z);
        });

         socket.on('updateIR', function (data) { 
          var x = Math.round(data.attributes[0].value * 100) / 100; 
          var y = Math.round(data.attributes[1].value * 100) / 100; 
          var z = Math.round(data.attributes[2].value * 100) / 100; 
          $("#name").html(data.id);
          $('#natt1').html(data.attributes[0].name);
          $('#natt2').html(data.attributes[1].name);
          $('#natt3').html(data.attributes[2].name);
          $('#natt4').html(data.attributes[3].name);
          $('#att1').html(x);
          $('#att2').html(y);
          $('#att3').html(z);
          $('#att4').html(data.attributes[3].value);
        });

         socket.on("updateTR", function (data){
          console.log(data);
          var x = Math.round(data.attributes[0].value * 100) / 100; 
          var y = Math.round(data.attributes[1].value * 100) / 100; 
          var z = Math.round(data.attributes[3].value * 100) / 100; 
          $("#name").html(data.id);
          $('#natt1').html(data.attributes[0].name);
          $('#natt2').html(data.attributes[1].name);
          $('#natt3').html(data.attributes[2].name);
          $('#natt4').html(data.attributes[3].name);
          $('#att1').html(x);
          $('#att2').html(y);
          $('#att3').html(data.attributes[2].value);
          $('#att4').html(z);
         });

        $("#subChocolate").click(function(){
          socket.emit("subchocolate", "Subscribing!");
        });
        $("#subInventing").click(function(){
          socket.emit("subinventing", "Subscribing!");
        });
        $("#subTelevision").click(function(){
          socket.emit("subtelevision", "Subscribing!");
        });
     });
       </script>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container text-center align-center col-md-10">
    <h1 class="page-header">Chocolate Factory control panel</h1>
    <div class="">
    <h2 id="name"></h2>
    <h3 id="natt1"></h3><span id="att1"></span>  
    <h3 id="natt2"></h3><span id="att2"></span> 
    <h3 id="natt3"></h3><span id="att3"></span>
    <h3 id="natt4"></h3><span id="att4"></span> 
    <div class="align-center">
       <button id="subChocolate" class="btn" type="submit">Chocolate Room</button>
       <button id="subInventing" class="btn" type="submit">Inventing Room</button>
       <button id="subTelevision"  class="btn" type="submit">Television Room</button>
    </div>
    </div>
  </div>
  </body>
</html>  
