<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="La fábrica de chocolate" />
  <meta name="description" content="PFC">
  <meta name="author" content="Darío Martinez">
  <meta name="generator" content="SublimeText and Bootstrap" />

  <title>Willy Wonka's Chocolate Factory</title>

    <!-- Styles -->
    <link href="stylesheets/styles.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/FI-WARE/img/logos/ico/favicon.png">

</head>

<body id="index">
<div class="back"></div>
    <div id="wrap">
  <div class="container">
    <div class="logo">
    <div class="display">

    <div id='warped'>
                     <span class='w0'>W</span><span class='w1'>i</span><span class='w2'>l</span><span class='w3'>l</span><span class='w4'>y</span><span class='w5'> </span><span class='w6'> </span><span class='w7'>w</span><span class='w8'>o</span><span class='w9'>n</span><span class='w10'>k</span><span class='w11'>a</span>
              </div>
              <div id='warped-2'>
                     <span class='w7'>&</span><span class='w8'> </span><span class='w9'> </span><span class='w10'>t</span><span class='w11'>h</span><span class='w12'>e</span>
              </div>
              <div id='warped-3'>
                     <span class='w18'>c</span><span class='w19'>h</span><span class='w20'>o</span><span class='w21'>c</span><span class='w22'>o</span><span class='w23'>l</span><span class='w24'>a</span><span class='w25'>t</span><span class='w26'>e</span>
              </div>
              <div id='warped-4'>
                     <span class='w18'>f</span><span class='w19'>a</span><span class='w20'>c</span><span class='w21'>t</span><span class='w22'>o</span><span class='w23'>r</span><span class='w24'>y</span>
              </div>
  </div>
</div>
      <div class="row" id="pwd-container">
   <div class="log">
      <section class="login-form">
      <h1 class="authtt"> You have no permission to view this.</h1>
         <a href="/back"> <button class="btn btn-lg btn-primary btn-block">Go back</button></a>
      </section>  
      </div>
  </div>
  </div>
  </div>

  <footer class="footer">            
  </footer>
  
    <!-- Le javascripts -->
  <script type="text/javascript" src="javascripts/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
